@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<blogsproject_1.Models.Nofication>

<html>
<head>
    <title>Notifications</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <h1>Notifications</h1>
        <div id="notificationList">
            @foreach (var notification in Model)
            {
                <div class="alert alert-info" role="alert">
                    @notification.Message in @notification.SentDate
                </div>
            }
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.onesignal.com/sdks/web/v16/OneSignalSDK.page.js" defer></script>
    <script>
        window.OneSignalDeferred = window.OneSignalDeferred || [];
        OneSignalDeferred.push(async function (OneSignal) {
            await OneSignal.init({
                appId: "adf99ce1-b541-4afb-a667-1246aa0df969",
            });

            
            OneSignal.on('notificationDisplay', function (event) {
                var notification = event.data;
                var notificationText = notification.content;

               
                $('#notificationList').prepend('<div class="alert alert-success" role="alert">' + notificationText + '</div>');
            });
        });
    </script>
</body>
</html>

